
<div style="background-color: #212a3e;">
  <div class="header-div">
    <h1 class="header">An Incredible Journey</h1>
  </div>  
  

    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h2>1962</h2>
            <h3>Born</h3>
            <!--<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>-->
            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="youngImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
            </div>
          
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>1982</h2>
            <h3>Joined Allahabad Bank</h3>
            <!--<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>-->
           
            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="joiningImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
          </div>

          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h2>1985</h2>
            <h3>Married to an awesome partner</h3>
            
            <!--<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>-->
            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="marriageImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
          </div>

          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>1986</h2>
            <h3>Blessed with a baby boy</h3>

            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="suvigyaImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
          </div>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h2>1990</h2>
            <h3>Sumit came into life</h3>

            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="sumitImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
          </div>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>1994</h2>
            <h3>Ek aur burden</h3>

            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="suyashImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
              </div>
          </div>
        </div>

        <div class="container left">
          <div class="content">
            <h2>2009</h2>
            <h3>First Car</h3>

            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="carImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
              </div>
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>Exemplary years during 22 postings across Madhya Pradesh</h2>

            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="serviceImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
              </div>
          </div>
        </div>

        <div class="container left">
          <div class="content">
            <h2>Many memorable family trips</h2>

            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="familyTripImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
              </div>
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>Addition of 2 heavy weight champions to the Family</h2>

            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="additionsImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
              </div>
          </div>
        </div>

        <div class="container left">
          <div class="content">
            <h2>31 May 2020</h2>
            <h3>RETIREMENT - A Sweet Ending of a new Beginning</h3>
            <!--<img src="assets/happy-retirement-quotes.jpg" height="290px" width="100%">-->
           
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>Europe Trip</h2>
            <h3>Coming Soon.....</h3>
            <div style="width: 100%; height: 80px; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav
              [images]="euroTripImageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{width: '25%', height: 110}"
              
              slideImage="1"></ng-image-slider>
              </div>
          </div>
        </div>


      </div>
</div>
