<div class="main-div">
<app-header></app-header>

<div style="width: 100%; height: 290px; text-align:center;margin:0; padding:0;margin-top: 180px;">
    <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '25%', height: 300}"
    
    slideImage="1"></ng-image-slider>
</div>

<!--<p class="home-message">You can't Retire from being Great !</p>-->

<div class="row">
    <div class="column">
      <img src="assets/balloon.gif" alt="balloons" style="width:100%; height: 400px">
    </div>
    <div class="column">
      <img src="assets/papa_mainSlide_center.jpg" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="assets/balloon.gif" alt="ballons" style="width:100%; height: 400px">
    </div>
  </div>
  


<app-timeline></app-timeline>


<div class="gift-emoji-div">

    <h2> Something for you...... </h2>
    <a>
        <img class="gift-emoji-class"  src="assets/gift_emoji_img.png" (click)="openDialog()">
    </a>
</div>




</div>